.slider {
    max-width: 800px;
    min-width: 500px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 31px -25px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 31px -25px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 31px -25px rgba(0,0,0,0.64);
    background-color: #fff;
    border-radius: 10px;

    @media all and (max-width: 1000px) {
        max-width: 100%;
    }
    @media all and (max-width: 768px) {
        max-width: 100%;
        min-width: 250px !important;
        height: fit-content !important;
        
    }
    @media all and (max-width: 600px) {
        
        
    }


    


    .react-multi-carousel-dot {
        width: 7px !important;
        height: 7px !important;
        border-radius: 50% !important;
        background-color: gray !important;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 100% !important;
            height: 100% !important;
            border: none;
            background-color: rgb(185, 185, 185);
            margin: 0;
        }
    }

    .react-multi-carousel-dot--active {
        width: 13px !important;
        height: 13px !important;

        button {
            background-color: orange !important;
            width: 100% !important;
            height: 100% !important;
        }
    }

    

   
    
   
    .react-multi-carousel-item {
        min-height: 100% !important;
        
    }
    .react-multi-carousel-list {
        min-height: 100% !important;

        @media all and (max-width: 768px) {
            min-height: 400px !important;
            align-items: flex-start;
            padding-top: 40px;
        }
        
        
    }

   

    .react-multiple-carousel__arrow {
        border-radius: 5px;
        background-color: rgba(255, 166, 0, 0.538);
        padding: 20px 10px ;
        height: fit-content !important;
        width: fit-content !important;
        align-items: center;
        justify-content: center;
        display: none;

        &:hover {
            background-color: rgba(255, 166, 0, 0.323);
        }
    }
    .react-multiple-carousel__arrow--left {
        left: 10px !important;
    }
    .react-multiple-carousel__arrow--right {
        right: 10px !important;
    }

    .react-multi-carousel-dot-list {
        bottom: 10px !important;
        padding: 5px !important;
        display: flex !important;
        align-items: center !important;
        gap: 10px !important;
    }
}